.bg-footer-pattern {
  background: url("../img/svg-img/footer_catalog_bg.svg") no-repeat center center;
  background-size: cover;
}

footer {
  background-image: url(../img/svg-img/footer_catalog_bg.svg);
  background-repeat: no-repeat;
  background-color: #6c9a31;
  padding: 27px 0px 45px;
}
